* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 10px;
  text-align: left;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  width: 25%
}


/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}



/* Add a card effect for articles */
.section {
  background-color: white;
 margin: auto;
 margin-bottom: 10px;
width: 80%;

padding: 10px;
}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

	* { font: 18px Calibri; }
 
  


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}


.button1 {
  background-color: #2E86C1   ;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #FBFCFC ;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display:      block;
    margin-left:  auto;
    margin-right: 0;
}

.button1:hover {
  background-color: #fff;
}

.button1:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}


.button3 {
  background-color: #28B463  ;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #FBFCFC ;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display:      block;
    margin-left:  auto;
    margin-right: 0;
}

.button3:hover {
  background-color: #fff;
}

.button3:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.button2 {
  background-color: #E74C3C ;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #FBFCFC ;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button2:hover {
  background-color: #fff;
}

.button2:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}

/* Footer */
.footer {
  background: black;
  color: white;
  width:100%;
  bottom:0;
  padding: 2px;
  text-align: center;
  margin-top: 10px;
}
   
